# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.ts]
# Upgrade to Angular 8 dependencies
dependencies.@angular/animations = 8.2.12
dependencies.@angular/common = 8.2.12
dependencies.@angular/compiler = 8.2.12
dependencies.@angular/core = 8.2.12
dependencies.@angular/forms = 8.2.12
dependencies.@angular/platform-browser = 8.2.12
dependencies.@angular/platform-browser-dynamic = 8.2.12
dependencies.@angular/platform-server = 8.2.12
dependencies.@angular/router = 8.2.12
dependencies.@nguniversal/module-map-ngfactory-loader = 8.1.1
dependencies.angular-font-awesome = ^3.1.2
dependencies.aspnet-prerendering = ^3.0.1
dependencies.axios = ^0.19.0
dependencies.bootstrap = ^4.4.1
dependencies.core-js = ^3.3.3
dependencies.font-awesome = ^4.7.0
dependencies.jquery = 3.4.1
dependencies.ngx-toastr = ^11.2.1
dependencies.oidc-client = ^1.9.1
dependencies.popper.js = ^1.16.0
dependencies.rxjs = ^6.5.3
dependencies.zone.js = 0.9.1